.paddedContainer{
    padding: 30px;
}
.submitWrapper {
padding:20px;
	text-align: right;
}
#submit{
width:100px;
}
.graph{
	height:100%;
	width:100%;
}
.graph-small{
	height:80%;
	width:80%;
}
.query{
    display:block;
}
.Description{
	padding:40px;
	height: 400px;
	color:white;
	
}
.des-content{
		background-color:#4B77BE;
		height:320px;
}
.des-content-header{
		padding: 30px;
		font-size: x-large;
		font-weight: bold;
}

.des-content-body{
		padding: 30px;
		font-size: large;
}

.site-title{
	font-weight:bold;
	font-size:-webkit-xxx-large;
}
.result-title{
	font-weight:bold;
	font-size:x-large;
}